@font-face {
  font-family: 'berlin_sans_fb_demibold';
  src: url('../fonts/berlin_sans_fb_demi_bold-webfont.woff2') format('woff2'),
      url('../fonts/berlin_sans_fb_demi_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}