#button-container 
{
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px; /* Optional: Add some margin to adjust spacing */
}

.my-center-container 
{
  display: grid;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
}

.my-modal
{
  position: fixed; 
  /* 使模態框固定在視窗中 */
  top: 50%; 
  /* 將模態框置於視窗垂直中間 */
  left: 50%; 
  /* 將模態框置於視窗水平中間 */
  transform: translate(-50%, -25%);
  /* 設置模態框寬度 */
  max-width: 80%; 
  /* 設置模態框最大寬度 */
  max-height: 80%; 
  /* 設置模態框最大高度 */
  overflow-y: auto; 
  /* 如果內容高度超出模態框高度，則添加垂直滾動條 */
}